@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@font-face {
  font-family: 'gg sans';
  src: url('/fonts/ggsans.woff2') format('woff2');
  font-weight: 400 800; /* Supports bold weights */
  font-style: normal;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  color-scheme: dark;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-discord: 'gg sans', var(--font-geist-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  text-shadow: 0 4px 16px rgba(0, 0, 0, 1), 0 0 8px rgba(0, 0, 0, 1), 0 0 2px rgba(0, 0, 0, 1);
}